
//This uses the R logo to define callout boxes with the R logo
.callout-code {
  border-left: 6px solid #276DC3;
  background-color: #f3f7ff;
    padding: 1rem;
  margin: 1rem 0;
  border-radius: 6px;
  position: relative;
}

.callout-code::before {
  content: "";
  background-image: url("images/Rlogo.svg");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  position: absolute;
  left: -32px;
  top: 18px;
  width: 22px;
  height: 22px;
}